<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="Main-div">
      <div class="Logo-div">
        <img src="Assets/logo.png" class="Logo" />
      </div>
      <div class="Middle-stuff">
        <p class="Main-text">BUY A GIFTCARD</p>
        <p class="Under-text">
          (Website unde maintenance, for orders dm us on INSTA)
        </p>
        <button class="Button">
          <a href="https://www.instagram.com/bos3edan">Order here</a>
        </button>
      </div>
    </div>
  </body>
</html>
